<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <% if @columns.include?("username") %>
          <Cell><Data ss:Type="String">Username</Data></Cell>
        <% end %>

        <% if @columns.include?("name") %>
          <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <% end %>

        <% if @columns.include?("email") %>
          <Cell><Data ss:Type="String">Email</Data></Cell>
        <% end %>

        <% if @columns.include?("total_contents_learnt") %>
          <Cell><Data ss:Type="String">Contenidos aprendidos en total</Data></Cell>
        <% end %>

        <% if @columns.include?("contents_learnt_branch_aprender") %>
          <Cell><Data ss:Type="String"><%= @statistics_by_user[0][:statistics]["contents_learnt_by_branch"][:value][0][:title] %></Data></Cell>
        <% end %>

        <% if @columns.include?("contents_learnt_branch_artes") %>
          <Cell><Data ss:Type="String"><%= @statistics_by_user[0][:statistics]["contents_learnt_by_branch"][:value][1][:title] %></Data></Cell>
        <% end %>

        <% if @columns.include?("contents_learnt_branch_lenguaje") %>
          <Cell><Data ss:Type="String"><%= @statistics_by_user[0][:statistics]["contents_learnt_by_branch"][:value][2][:title] %></Data></Cell>
        <% end %>

        <% if @columns.include?("contents_learnt_branch_naturaleza") %>
          <Cell><Data ss:Type="String"><%= @statistics_by_user[0][:statistics]["contents_learnt_by_branch"][:value][3][:title] %></Data></Cell>
        <% end %>

        <% if @columns.include?("total_neurons_learnt") %>
          <Cell><Data ss:Type="String">Neuronas aprendidas</Data></Cell>
        <% end %>

        <% if @columns.include?("used_time") %>
          <Cell><Data ss:Type="String">Tiempo de uso</Data></Cell>
        <% end %>

        <% if @columns.include?("average_reading_time") %>
          <Cell><Data ss:Type="String">Tiempo de lectura promedio</Data></Cell>
        <% end %>

        <% if @columns.include?("images_opened_in_count") %>
          <Cell><Data ss:Type="String">Imagenes abiertas</Data></Cell>
        <% end %>

        <% if @columns.include?("total_notes") %>
          <Cell><Data ss:Type="String">Notas agregadas</Data></Cell>
        <% end %>


      </Row>
    <% @statistics_by_user.each do |statistics| %>
      <Row>

        <% if @columns.include?("username") %>
          <Cell><Data ss:Type="String"><%= statistics[:student].username %></Data></Cell>
        <% end %>

        <% if @columns.include?("name") %>
          <Cell><Data ss:Type="String"><%= statistics[:student].name %></Data></Cell>
        <% end %>

        <% if @columns.include?("email") %>
          <Cell><Data ss:Type="String"><%= statistics[:student].email %></Data></Cell>
        <% end %>

        <% if @columns.include?("total_contents_learnt") %>
          <Cell><Data ss:Type="Number"><%= statistics[:statistics]["total_contents_learnt"][:value]%></Data></Cell>
        <% end %>

        <% if @columns.include?("contents_learnt_branch_aprender") %>
          <Cell><Data ss:Type="Number"><%= statistics[:statistics]["contents_learnt_by_branch"][:value][0][:total_contents_learnt]%></Data></Cell>
        <% end %>

        <% if @columns.include?("contents_learnt_branch_artes") %>
          <Cell><Data ss:Type="Number"><%= statistics[:statistics]["contents_learnt_by_branch"][:value][1][:total_contents_learnt]%></Data></Cell>
        <% end %>

        <% if @columns.include?("contents_learnt_branch_lenguaje") %>
          <Cell><Data ss:Type="Number"><%= statistics[:statistics]["contents_learnt_by_branch"][:value][2][:total_contents_learnt]%></Data></Cell>
        <% end %>

        <% if @columns.include?("contents_learnt_branch_naturaleza") %>
          <Cell><Data ss:Type="Number"><%= statistics[:statistics]["contents_learnt_by_branch"][:value][3][:total_contents_learnt]%></Data></Cell>
        <% end %>

        <% if @columns.include?("total_neurons_learnt") %>
          <Cell><Data ss:Type="Number"><%= statistics[:statistics]["total_neurons_learnt"][:value]%></Data></Cell>
        <% end %>

        <% if @columns.include?("used_time") %>
          <Cell><Data ss:Type="String"><%= statistics[:statistics]["used_time"][:meta][:value_humanized] %></Data></Cell>
        <% end %>

        <% if @columns.include?("average_reading_time") %>
          <Cell><Data ss:Type="String"><%= statistics[:statistics]["average_used_time_by_content"][:meta][:value_humanized] %></Data></Cell>
        <% end %>

        <% if @columns.include?("images_opened_in_count") %>
          <Cell><Data ss:Type="Number"><%= statistics[:statistics]["images_opened_in_count"][:value] %></Data></Cell>
        <% end %>

        <% if @columns.include?("total_notes") %>
          <Cell><Data ss:Type="Number"><%= statistics[:statistics]["total_notes"][:value] %></Data></Cell>
        <% end %>

      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
