<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Username</Data></Cell>
        <Cell><Data ss:Type="String">Edad</Data></Cell>
        <Cell><Data ss:Type="String">Escuela</Data></Cell>
        <Cell><Data ss:Type="String">Ciudad</Data></Cell>
        <Cell><Data ss:Type="String">Fecha de registro</Data></Cell>
        <Cell><Data ss:Type="String">Contenidos aprendidos en total</Data></Cell>
      </Row>
      <% @statistics_by_user.each do |statistics| %>
        <Row>
          <Cell><Data ss:Type="String"><%= statistics[:student].name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= statistics[:student].username %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= statistics[:student].birth_year ? Date.today.year - statistics[:student].birth_year : '' %></Data></Cell>
          <Cell><Data ss:Type="String"><%= statistics[:student].school %></Data></Cell>
          <Cell><Data ss:Type="String"><%= statistics[:student].city %></Data></Cell>
          <Cell><Data ss:Type="String"><%= statistics[:student].created_at.strftime('%m/%d/%Y') %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= statistics[:statistics]["total_contents_learnt"][:value]%></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
