<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Username</Data></Cell>
        <Cell><Data ss:Type="String">Edad</Data></Cell>
        <Cell><Data ss:Type="String">Escuela</Data></Cell>
        <Cell><Data ss:Type="String">Ciudad</Data></Cell>
        <Cell><Data ss:Type="String">Fecha de registro</Data></Cell>
        <Cell><Data ss:Type="String">Tiempo de uso</Data></Cell>
        <Cell><Data ss:Type="String">Contenidos aprendidos</Data></Cell>
      </Row>
    <% @statistics_by_user.each do |statistics| %>

      <% @user_test_answers = statistics[:statistics]["user_test_answers"][:value] %>
      <% @content_reading_times = statistics[:statistics]["content_learnings_with_reading_times"][:value]%>

      <Row>
        <Cell><Data ss:Type="String"><%= statistics[:student].name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= statistics[:student].username %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= statistics[:student].birth_year ? Date.today.year - statistics[:student].birth_year : '' %></Data></Cell>
        <Cell><Data ss:Type="String"><%= statistics[:student].school %></Data></Cell>
        <Cell><Data ss:Type="String"><%= statistics[:student].city %></Data></Cell>
        <Cell><Data ss:Type="String"><%= statistics[:student].created_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= statistics[:statistics]["used_time"][:meta][:value_humanized] %></Data></Cell>
      </Row>

      <% @exists_items = (@user_test_answers.kind_of?(Array) && @user_test_answers.size >= 2) || (@content_reading_times.kind_of?(Array) && @content_reading_times.size >= 2) %>

      <% if @exists_items %>

        <% @size = @user_test_answers.size > @content_reading_times.size ? @user_test_answers.size - 1 : @content_reading_times.size - 1 %>

        <% (1..@size).each do |index| %>
          <Row>
            <Cell><Data ss:Type="String"></Data></Cell>
            <Cell><Data ss:Type="String"></Data></Cell>
            <Cell><Data ss:Type="String"></Data></Cell>
            <Cell><Data ss:Type="String"></Data></Cell>
            <Cell><Data ss:Type="String"></Data></Cell>
            <Cell><Data ss:Type="String"></Data></Cell>
            <Cell><Data ss:Type="String"></Data></Cell>
            <% if @content_reading_times[index].present?%>
              <Cell><Data ss:Type="String"><%= @content_reading_times[index][:content][:title] %></Data></Cell>
            <% end %>
          </Row>
        <% end %>
      <% end %>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
